<div>
<!--
  <p-menubar>
    <ng-template pTemplate="start">
      <p class="menu-text">Tipo de terraza: {{ template().terraceTypeModel.kind }}</p>
    </ng-template>
    <ng-template pTemplate="end">
      <p-dropdown
      [options]="terraceTypes()"
      [(ngModel)]="selectedTerraceType"
        optionLabel="kind"
        placeholder="cambiar tipo de terraza"
        (onChange)="onSelectTerraceType()">
      </p-dropdown>
    </ng-template>
  </p-menubar>

  <p-carousel
  [value]="services()"
  [numVisible]="5"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  >

  <ng-template pTemplate="item" let-service>
    <div class="p-2">
      <p-card [header]="service.name">
        <img src="../../../assets/calendars.png" height="100px">
        <p>{{ service.description }}</p>
      </p-card>
    </div>
  </ng-template>
</p-carousel>
</div>

-->
