
<div *ngIf="!savedTerrace(); else showTerrace">
  <app-template-findtemplate
  [terraces]="terraces()"
  [terraceTypes]="terraceTypes()"
  [template]="template()"
  >
  </app-template-findtemplate>
</div>
<ng-template #showTerrace>
  <p-menubar>
    <ng-template pTemplate="start">
      <p class="menu-text">Terraza seleccionada:</p>
    </ng-template>
    <ng-template pTemplate="end">
      <button
        pButton
        type="button"
        icon="pi pi-arrow-left"
        class="p-button-sm p-button-rounded p-button-info mb-3"
        (click)="clearTerrace()">
        Eliminar
      </button>
    </ng-template>
  </p-menubar>

  <!-- Load component -->
  <app-template-selectedtemplate></app-template-selectedtemplate>
</ng-template>

<p-menubar class="mb-3">
  <ng-template pTemplate="start">
    <span>Servicios proporcionados</span>
  </ng-template>
  <ng-template pTemplate="end">
    <p-dropdown
      [options]="serviceTypes()"
      [(ngModel)]="selectedServiceType"
      optionLabel="kind"
      placeholder="Agregar servicio"
      (onChange)="onSelectServiceType()"
      class="p-inputtext-sm"
    ></p-dropdown>
  </ng-template>
</p-menubar>

<!-- Carrusel por tipo de servicio -->
<div *ngFor="let type of template().serviceTypeModel" class="mb-4">

  <div class="service-type-header">
    <h3>{{ type.kind }}</h3>
    <button
      pButton
      type="button"
      icon="pi pi-trash"
      class="p-button-sm p-button-rounded p-button-danger"
      (click)="removeServiceType(type)"
    ></button>
  </div>

  <p-carousel
    [value]="services()"
    [numVisible]="5"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="item" let-service>
      <div class="p-2">
        <p-card [header]="service.name">
          <img src="../../../assets/calendars.png" height="100px">
          <p>{{ service.description }}</p>
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</div>
