h2 {
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0.3rem;
}

.header {
  text-align: center;
  margin: 20px;
}

.p-2{
  margin: 10px;
}

p-card{
  text-align: center;
}

p-dropdown{
  margin-right: 20px;
}

.service-type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.service-type-header .menu-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.service-type-header button {
  margin-left: auto;
}

.menu-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
