
<div>

</div>

<div>
  <p-menubar>
    <ng-template pTemplate="start">
      <p class="menu-text">Tipo de terraza: {{ template().terraceTypeModel.kind }}</p>
    </ng-template>
    <ng-template pTemplate="end">
      <p-dropdown
        [options]="terraceTypes()"
        [(ngModel)]="selectedTerraceType"
        optionLabel="kind"
        placeholder="cambiar tipo de terraza"
        (onChange)="onSelectTerraceType()">
      </p-dropdown>
    </ng-template>
  </p-menubar>

  <p-carousel
  [value]="terraces()"
    [numVisible]="5"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >

    <ng-template pTemplate="item" let-terrace>
      <div class="p-2">
        <p-card [header]="terrace.name">
          <img src="../../../assets/calendars.png" height="100px">
          <p>{{ terrace.description }}</p>
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</div>

<p-menubar class="mb-3">
  <ng-template pTemplate="start">
    <span>Servicios proporcionados</span>
  </ng-template>
  <ng-template pTemplate="end">
    <p-dropdown
      [options]="serviceTypes()"
      [(ngModel)]="selectedServiceType"
      optionLabel="kind"
      placeholder="Agregar servicio"
      (onChange)="onSelectServiceType()"
      class="p-inputtext-sm"
    ></p-dropdown>
  </ng-template>
</p-menubar>

<!-- Carrusel por tipo de servicio -->
<div *ngFor="let type of template().serviceTypeModel" class="mb-4">

  <div class="service-type-header">
    <h3>{{ type.kind }}</h3>
    <button
      pButton
      type="button"
      icon="pi pi-trash"
      class="p-button-sm p-button-rounded p-button-danger"
      (click)="removeServiceType(type)"
    ></button>
  </div>

  <p-carousel
    [value]="services()"
    [numVisible]="5"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="item" let-service>
      <div class="p-2">
        <p-card [header]="service.name">
          <img src="../../../assets/calendars.png" height="100px">
          <p>{{ service.description }}</p>
        </p-card>
      </div>
    </ng-template>
  </p-carousel>
</div>
