<p-toolbar class="shadow-2">
  <ng-template pTemplate="start">
    <div class="flex align-items-center gap-2">
      <img ngSrc="../../assets/calendars.png" width="50" height="50" alt="Logo" style="margin-right: 20px; margin-bottom: -10px"/>
      <span class="text-2xl font-bold text-primary" style="font-size: 40px;">EventPlanify</span>
    </div>
  </ng-template>

  <ng-template pTemplate="center">
    <div class="hidden md:flex flex-1 justify-content-center px-4">
      <span class="text-lg font-large text-secondary">
        Encuentra servicios y organiza tu evento ideal
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-3">
      
      <div *ngIf="loginService.currentUserLoginOn() && loginService.userProfile()" class="hidden md:inline-flex align-items-center cursor-pointer"
           (click)="goToProfile()">
        <span class="text-lg font-medium text-800 mr-2">{{ loginService.userProfile()?.firstname }}</span>
        <i class="pi pi-user-edit text-xl text-primary"></i>
      </div>
      
      <button 
        *ngIf="!loginService.currentUserLoginOn()" 
        pButton 
        label="Iniciar sesión" 
        class="p-button-outlined p-button-sm hidden md:inline-flex"
        (click)="goToLogin()">
      </button>

      <button 
        *ngIf="loginService.currentUserLoginOn()" 
        pButton 
        label="Cerrar sesión" 
        class="p-button-danger p-button-sm p-button-outlined hidden md:inline-flex"
        (click)="logout()">
      </button>

      <button
        pButton
        type="button"
        icon="pi pi-bars"
        class="p-button-text p-button-info"
        (click)="toggleMenu($event)">
      </button>
      <p-menu #menuRef [popup]="true" [model]="menuItems"></p-menu>
    </div>
  </ng-template>

</p-toolbar>