:host ::ng-deep .airbnb-card {
  width: auto;
  border-radius: 12px;
  transition: transform 0.2s ease;
  box-shadow: none;
}

:host ::ng-deep .airbnb-card:hover {
  transform: scale(1.05);
}

:host ::ng-deep .icon-container i {
  color: #ff5a5f;
}

:host ::ng-deep .p-carousel-item {
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-carousel-content {
  align-items: center;
}

:host ::ng-deep .p-card-body {
  padding: 0.5rem !important;
}

:host ::ng-deep .p-card-content {
  padding: 0 !important;
}
